:root {
  --link-hover-color: rgb(198, 46, 198);
  --link-active-color: purple;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}





/*? HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 93px 50px;
  font-weight: normal;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

.header__menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 32px;
}

.header__menu__list li:not(:first-child) {
  list-style: circle;
}

.header__logo-link {
  display: block;
  padding-top: 4px; /*! Подгон под pixel perfect*/
  width: 148px;
}

.header__address {
  justify-self: end;
}

/*? Common styles */
.address {
  line-height: 1.35;
  width: 240px;
}

.link-decoration {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}




/*? MAIN */
.main {
  flex-grow: 1;
  background-color: white;
}

/* COVER SECTION*/
.main__cover {
  position: relative;
  z-index: 0;
  background-image: url(../images/pictures/lotus-flower.jpg);
  min-height: 757px;
  width: 100%;
  color: white;
  padding: 0 50px;
  font-size: 22px;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: black;
  z-index: 1;
}

.main__cover__content-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__cover__content-title {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  padding: 165px 0 106px 0;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.main__cover__content-title-left {
  align-self: flex-start;
}

.main__cover__content-title-center {
  align-self: center;
}

.main__cover__content-title-right {
  align-self: flex-end;
}

.main__cover__content-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.main__cover__content-description__text {
  word-spacing: 18px;
}

.main__cover__content-description__button {
  border: 1px solid currentColor;
  padding: 11px 32px;
}

/* LOTS SECTION */
.main__items {
  width: 100%;
  margin-top: 180px;
  padding: 0 24px;
  font-size: 20px;
}

.main__items-title {
  margin-bottom: 27px;
  padding-left: 40px;
}

.main__items__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.main__items__list__card {
  position: relative;
  z-index: 0;
  width: 334px;
  min-height: 596px;
}

.lots-first-card {
  background-image: url(../images/pictures/photo-1.jpg);
}

.lots-second-card {
  background-image: url(../images/pictures/photo-2.jpg);
}

.lots-third-card {
  background-image: url(../images/pictures/photo-3.jpg);
}

.main__items__list__card-content {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  color: white;
}

.main__items__list__card-content__title {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.main__items__link {
  padding-left: 40px;
}

/* ABOUT SECTION*/
.main__about {
  width: 100%;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 240px 1fr;
  gap: 10px 23px;
  margin: 120px 0 181px;
  padding: 31px 24px 0px;
  font-size: 20px;
}

.main__about__logo {
  display: grid;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.main__about__logo img {
  justify-self: center;
  align-self: center;
  width: 148px;
}

.main__about__description__title {
  grid-column: 2/-1;
  grid-row: 1/2;
  align-self: center;
  padding-top: 13px; /*! Подгон Пикселей*/
}

.main__about__description__text {
  grid-column: 2/-1;
  grid-row: 2/-1;
  padding-right: 10px; /*! Подгон Пикселей*/
}

.main__about__description__text p:not(:last-child) {
  margin-bottom: 24px;
}





/*? FOOTER */
.footer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
  font-size: 18px;
  background-color: white;
}

.footer__menu {
  justify-self: center;
  line-height: 1.17; /*! Подгон под pixel perfect*/
  text-align: center;
}

.footer__social-media {
  display: flex;
  justify-self: end;
  gap: 10px 50px;
  flex-wrap: wrap;
}

.footer__social-media__link {
  width: 48px;
}





